*.asv
slprj/
*/slprj/
/Controle-Commande/MIR_AUVSimulator/slprj/
/Controle-Commande/Correction/

/Controle-Commande/MIR_AUVSimulator/Doc/Code/doctress/
/Controle-Commande/MIR_AUVSimulator/Doc/Code/sphinx_venv/

# Fichiers Latex à ignorer
*.slxc
*.nlo
*.log
*.lof
*.blg
*.nls
*.out
*.bbl
*.bcf
*.aux
*.lot
*.nlg
*.toc
*.synctex.gz
*.run.xml

*.ilg
*.vscode
/InverseProblems/invprobs.pdf
/InverseProblems/invprobs.nav
/InverseProblems/invprobs.snm
/KFPF/kfpf.nav
/KFPF/kfpf.pdf
/KFPF/kfpf.snm
/KFPF/kfpf.vrb
/KFPF/python/.idea/.gitignore
/KFPF/python/.idea/inspectionProfiles/profiles_settings.xml
/KFPF/python/.idea/misc.xml
/KFPF/python/.idea/modules.xml
/KFPF/python/.idea/python.iml
/KFPF/python/.idea/vcs.xml
/KFPF/python/.ipynb_checkpoints/kfpf-checkpoint.ipynb
/KFPF/python/__pycache__/shared_simulation_settings.cpython-37.pyc
/KFPF/python/__pycache__/shared_simulation_settings.cpython-38.pyc
/KFPF/python/venv/pyvenv.cfg
/KFPF/tototex.tex
/.gitignore~088e5895b9da721132c605662c8cb03d7ea68192
